.link__cardapio {
    display:block;
    text-align: center;
    text-decoration: none;
    padding: .7rem 1rem;
    color: var(--preto);
    font-family: var(--montserrat);
    border: 1px solid black; 
    border-radius: 4px;
    width: 11%;
    margin-left: 35rem;
    margin-top: 2rem;
}

.link__cardapio:hover {
    background: var(--marrom);
}